<div class="primeiraimagem">
	<h1 class="texto1">Cirurgia</h1>
</div>
<p class="paragrafo">Dentes do Siso ou Juízo mal posicionados. Cistos no osso que apareceram no Rx. Esses são exemplos de situações onde é necessária uma intervenção cirúrgica.</p>
<p class ="paragrafo1"> A cirurgia é a especialidade que cuida de situações como essas descritas e também, de diversas outras como: retirar lesões suspeitas para fazer biópsia, correção da língua presa que impede a fonação correta.</p>
<p class = "paragrafo1">A clinica odontológica Mercosul faz esse tipo de serviço com excelência. Venha sorrir com a gente!</p>
<p class ="paragrafo1"></p>

<%- contentFor("styles") %>

<style type="text/css">
	.primeiraimagem {
		background-image: url("/public/images/cirurgia.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}
	.texto1 {
		font-family: Montserrat;
		color: #002A46;
		padding: 130px 50px 100px 10px;
		text-align: left ;
		font-weight: bold;
	}
	.paragrafo {
		padding: 40px;
		color: #132540;
		text-align: left;
	}
	.paragrafo1 {
		padding: 0px 40px 40px 40px;
		color: #132540;
		text-align: left;
	}
	.paragrafo10 {
		padding: 0px 40px 40px 80px;
		color: #132540;
		text-align: left;
	}
</style>
