<div class="primeiraimagem">
	<h1 class="texto1">Clínica Geral</h1>
</div>
<p class="paragrafo">Clínica Geral é a área da odontologia responsável pela manutenção da higiene oral e da saúde bucal. É feito o diagnóstico e tratamento de uma grande variedade de doenças e desordens que podem atingir a boca, dentes e gengivas tais como : cáries , profilaxia ( limpeza ), pequenas extrações.</p>
<p class="paragrafo1">Estão entre os tratamentos realizados pelo dentista clínico geral:</p>
<ul class="paragrafo10">
	<li>Remoção de cáries e tártaros;</li>
	<li>Pequenas restaurações;</li>
	<li>Profilaxia (limpeza);</li>
	<li>Atendimento de urgência;</li>
	<li>Aplicação de flúor;</li>
	<li>Polimento de restaurações.</li>
</ul>
<p class="paragrafo1">Além disso, o dentista clínico geral é quem fornece orientações quanto a correta higienização oral, além de promover a manutenção da saúde bucal, realizando ou recomendado exames regulares, trabalhando na prevenção de diversos problemas dentários. Deve-se passar em consulta com o dentista clínico geral a cada 6 meses para avaliar como está a saúde geral da boca , fazer pequenos tratamentos e , caso necessário , o dentista clínico geral encaminha para algum especialista de outra área, caso for necessário.</p>

<%- contentFor("styles") %>

<style type="text/css">
	.primeiraimagem {
		background-image: url("/public/images/clinica-geral-fundo.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}
	.texto1 {
		font-family: Montserrat;
		color: #002A46;
		padding: 130px 50px 100px 10px;
		font-weight: bold;
		
	}
	.paragrafo {
		padding: 40px;
		color: #132540;
		text-align: left;
	}
	.paragrafo1 {
		padding: 0px 40px 40px 40px;
		color: #132540;
		text-align: left;
	}
	.paragrafo10 {
		padding: 0px 40px 40px 80px;
		color: #132540;
		text-align: left;
	}
</style>