<div class="primeiraimagem">
	<h1 class="texto1">Disfunção da ATM</h1>
</div>
<p class="paragrafo"> DTM e Dor Orofacial é a especialidade que trata problemas relacionados com os movimentos de abrir e fechar a boca tais como estalos, boca travada , bruxismo ( ranger dos dentes ). Mas estes são somente alguns sintomas! Há outros diversos sintomas, como dores de cabeça, dores de ouvido, onde muitos casos, o médico examina e não encontra nada de anormal com o ouvido.</p>
<p class ="paragrafo1"> A clínica MERCOSUL é uma das poucas clínicas odontológicas do país que possui um especialista nesta área: o Dr Fernando Falchi, com mais de 8000 atendimentos.</p>
<p class = "paragrafo1">Por que se deve tratar os problemas de ATM ? </p>
<p class ="paragrafo1">Porque o agravamento do quadro pode levar a uma cirurgia a nível hospitalar quando os sintomas estão muito agravados. Para o tratamento, é feito fisioterapia, uso de placa entre os dentes do paciente enquanto ele dorme e outros procedimentos, inclusive, podendo usar até a toxina botulínica o 'BOTOX' para ajudar no tratamento dos sintomas. O índice de sucesso com tratamento conservador, ou seja, tratamento a tempo de evitar a cirurgia é de mais de 90%.</p>

<%- contentFor("styles") %>

<style type="text/css">
	.primeiraimagem {
		background-image: url("/public/images/dornaatm.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}
	.texto1 {
		font-family: Montserrat;
		color: #002A46;
		padding: 130px 50px 100px 10px;
		text-align: left ;
		font-weight: bold;
	}
	.paragrafo {
		padding: 40px;
		color: #132540;
		text-align: left;
	}
	.paragrafo1 {
		padding: 0px 40px 40px 40px;
		color: #132540;
		text-align: left;
	}
	.paragrafo10 {
		padding: 0px 40px 40px 80px;
		color: #132540;
		text-align: left;
	}
</style>
