<div class="primeiraimagem">
	<h1 class="texto1">Harmonização Orofacial</h1>
</div>
<p class="paragrafo"> Com a evolução tecnológica, a odontologia passa a ir mais além com procedimentos de Harmonizaçao Orofacial. Essa é a especialidade responsável pelo conjunto de procedimentos que propiciam o equilíbrio estético e funcional da face, que tornam o sorriso e a face bonitos e harmoniosos.</p>
<p class ="paragrafo1">Dentre os diversos procedimentos temos: </p>
<p class = "paragrafo1"><ul>
							<li>A aplicação de toxina botulínica , mais conhecida pelo nome Botox, que elimina rugas e paralisa o músculo</li>
							<li>O preenchimento de áreas do rosto e lábios com ácido hialurônico, afim de aumentar/preencher determinadas partes do rosto como os lábios ou abaixo da área dos olhos</li>
							<li>A utilização de fios de sustentação para o rejuvenescimento dos tecidos da face</li>
							<li>Tratamento da pele com microagulhamento para uma maior produção de colágeno</li>
							<li>Aplicação de substâncias e vitaminas </li>
						</ul>
</p>
<p class ="paragrafo1">De modo geral, a Harmonizaçao Orofacial é responsável por corrigir assimetrias e melhorar proporções faciais, trazendo um aspecto mais jovem ao rosto do paciente, podendo, inclusive, melhorar sua autoestima.</p>

<%- contentFor("styles") %>

<style type="text/css">
	.primeiraimagem {
		background-image: url("/public/images/harmonizacaoorofacial.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}
	.texto1 {
		font-family: Montserrat;
		color: #002A46;
		padding: 130px 50px 100px 10px;
		text-align: left ;
		font-weight: bold;
	}
	.paragrafo {
		padding: 40px;
		color: #132540;
		text-align: left;
	}
	.paragrafo1 {
		padding: 0px 40px 15px 40px;
		color: #132540;
		text-align: left;
	}
	.paragrafo10 {
		padding: 0px 40px 40px 80px;
		color: #132540;
		text-align: left;
	}
</style>
