<div class="primeiraimagem">
	<h1 class="texto1">Implantologia</h1>
</div>
<p class="paragrafo">A perda dos dentes ao longo da vida contribue para um desequilíbrio da mordida o que afeta todos os outros dentes e prejudica a mastigação e a estética. A implantodontia é a área da odontologia responsável em repor os dentes ausentes, através de cilindros de titânio  que são colocados no osso, cria-se uma raiz artificial que será usada para segurar um dente de porcelana.</p>
<p class="paragrafo1">Com isso , além das funções biológicas como mastigação e fonação, melhora-se, também, a auto estima. Devem-se repor os dentes para poder realizar atividades simples como mastigar bem os alimentos .</p>

<%- contentFor("styles") %>

<style type="text/css">
	.primeiraimagem {
		background-image: url("/public/images/implante.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}
	.texto1 {
		font-family: Montserrat;
		color: #51B6B6;
		padding: 130px 50px 100px 10px;
		text-align: left ;
		font-size: 30px;
	}
	.paragrafo {
		padding: 40px;
		color: #132540;
		text-align: left;
	}
	.paragrafo1 {
		padding: 0px 40px 40px 40px;
		color: #132540;
		text-align: left;
	}
	.paragrafo10 {
		padding: 0px 40px 40px 80px;
		color: #132540;
		text-align: left;
	}
</style>
