<div class="fundoazul">
	<div class="primeiraimagem">
		<div class="limitador"></div>
	</div>
	<div class="container-fluid" id="sobrenos">
		<div class="row">
			<div class="col-sm-6 text-center"><img class="ola" src="/public/images/imagem2.jpg" width="500"></div>
			<div class="col-sm-6">
				<h3 class="titulo">Sobre nós
				</h3>
				<h2 class="titulo2">"Sua preferência faz a nossa história"
				</h2>
				<p class="sobrenostexto">Desde 1996, cuidamos da saúde bucal de várias famílias, ouvindo com
					atenção suas queixas e sonhos e tratando cada paciente como único. Nos mantemos atualizados
					e equipados com os melhores e mais modernos equipamentos do mercado para oferecer sempre o
					maior conforto possível e fazer da excelência no atendimento uma rotina. Vem sorrir com a
					gente!
				</p>
				<h5 class="titulo3">Dr. Fernando Falchi
				</h5>
				<p>Responsável Técnico <br>CRO/SP. 49868</p>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid imagemfundo">
	<div class="row">
		<div class="col-sm-4 coluna-card">
			<div class="card-missao">
				<h2 class="titulomissao">Missão</h2>
				<p class="paragrafo">
					Proporcionar a nossos pacientes um serviço de excelência, primoroso e
					humano que resultará em lindos sorrisos
				</p>
			</div>
		</div>
		<div class="col-sm-4 coluna-card">
			<div class="card-missao">
				<h2 class="titulomissao">Visão</h2>
				<p class="paragrafo">
					Expandir a clínica para que cada vez mais pessoas tenham acesso à serviços
					dentários de qualidade e atendimento diferenciado
				</p>
			</div>
		</div>
		<div class="col-sm-4 coluna-card">
			<div class="card-missao">
				<h2 class="titulomissao">Valores</h2>
				<ul class="corul">
					<li>Ética;
					</li>
					<li>Responsabilidade;
					</li>
					<li>Tecnologia;
					</li>
					<li>Modernidade;
					</li>
					<li>Atendimento humanitário personalizado.</li>
				</ul>
			</div>
		</div>
	</div>
</div>
