<div class="container-fluid imagemfundo">
	<div class="row">
		<div class="col-sm-4 coluna-card">
			<div class="card-missao">
				<h2 class="titulomissao">Missão</h2>
				<p class="paragrafo">
					Proporcionar a nossos pacientes um serviço de excelência, primoroso e
					humano que resultará em lindos sorrisos
				</p>
			</div>
		</div>
		<div class="col-sm-4 coluna-card">
			<div class="card-missao">
				<h2 class="titulomissao">Visão</h2>
				<p class="paragrafo">
					Expandir a clínica para que cada vez mais pessoas tenham acesso à serviços
					dentários de qualidade e atendimento diferenciado
				</p>
			</div>
		</div>
		<div class="col-sm-4 coluna-card">
			<div class="card-missao">
				<h2 class="titulomissao">Valores</h2>
				<ul class="corul">
					<li>Ética;
					</li>
					<li>Responsabilidade;
					</li>
					<li>Tecnologia;
					</li>
					<li>Modernidade;
					</li>
					<li>Atendimento humanitário personalizado.</li>
				</ul>
			</div>
		</div>
	</div>
</div>
