<div class="primeiraimagem">
	<h1 class="texto1">Odontologia Estética</h1>
</div>
<p class="paragrafo">A odontologia estética é uma área que une todas as especialidades necessárias para conseguir deixar o paciente com sorriso e estética da face, ambos bonitos e funcionais.</p>
<p class ="paragrafo1">É analisado se precisa fazer um canal, um clareamento, uma faceta de porcelana, colocar aparelho, preencher lábio para ficar mais harmonicp para com o rosto. Enfim,a odontologia estética é que faz um planejamento minucioso do passo a passo para que, no final, o objetivo seja alcançado em toda sua plenitude.</p>
<p class = "paragrafo1">A clínica Mercosul possui profissionais com 30 anos de profissão, o que faz esta experiência atuar com muita habilidade e isso é demonstrado no momento do planejamento do caso, que é feito pelo odontologia estética.</p>
<p class ="paragrafo1"></p>

<%- contentFor("styles") %>

<style type="text/css">
	.primeiraimagem {
		background-image: url("/public/images/odontologiaestetica.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}
	.texto1 {
		font-family: Montserrat;
		color: #002A46;
		padding: 130px 50px 100px 10px;
		text-align: left ;
		font-weight: bold;
	}
	.paragrafo {
		padding: 40px;
		color: #132540;
		text-align: left;
	}
	.paragrafo1 {
		padding: 0px 40px 40px 40px;
		color: #132540;
		text-align: left;
	}
	.paragrafo10 {
		padding: 0px 40px 40px 80px;
		color: #132540;
		text-align: left;
	}
</style>
