<div class="primeiraimagem">
	<h1 class="texto1">Ortodontia</h1>
</div>
<p class="paragrafo">Ortodontia é a especialidade da odontologia relacionada ao estudo, prevenção e tratamento dos problemas de crescimento, desenvolvimento e o amadurecimento da face, dos arcos dentários e da oclusão ( mordida do paciente ).</p>
<p class ="paragrafo1">Pode ser efetuada com aparelhos colados aos dentes ou com alinhadores, que são as placas removíveis, que são trocadas mês a mês para a correção dos dentes desalinhados.</p>
<p class = "paragrafo1"> Pode ser realizado em adultos e crianças e o diagnóstico precoce é fundamental para o sucesso do caso. O correto posicionamento dos dentes deve ser alcançado para proporcionar uma melhoria na mastigação, fonação e aparência estética do sorriso. O que, por si só, o ajudará com a auto estima.</p>
<p class ="paragrafo1"></p>

<%- contentFor("styles") %>

<style type="text/css">
	.primeiraimagem {
		background-image: url("/public/images/ortodontia.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}
	.texto1 {
		font-family: Montserrat;
		color: #002A46;
		padding: 130px 50px 100px 10px;
		text-align: left ;
		font-weight: bold ;
	}
	.paragrafo {
		padding: 40px;
		color: #132540;
		text-align: left;
	}
	.paragrafo1 {
		padding: 0px 40px 40px 40px;
		color: #132540;
		text-align: left;
	}
	.paragrafo10 {
		padding: 0px 40px 40px 80px;
		color: #132540;
		text-align: left;
	}
</style>
