<div class="primeiraimagem">
	<h1 class="texto1">Periodontia</h1>
</div>
<p class="paragrafo"> A periodontia é a especialidade que trata as estruturas que dão sustentação para os dentes. O tipo de tratamento que essa especialidade promove é para problemas que acometem a gengiva, o ligamento e atingem o osso alveolar, que é o osso que segura o dente. </p>
<p class ="paragrafo1">Os sintomas mais comuns são: sangramento da gengiva e a formação de tártaro (uma crosta dura que se forma ao redor da raiz) que vai destruindo o osso que segura o dente a ponto do dente ficar mole e chegar a cair se não for feito tratamento algum. </p>
<p class = "paragrafo1">É importante saber que em muitos casos a doença periodontal ocorre sem causar dor, necessariamente, por isso, que não chama atenção para sua gravidade, fazendo com que as pessoas não procurem tratamento, muitas vezes, a tempo. Quando percebem que algo está errado, o seu dente já amoleceu e o dentista nada mais poderá fazer para salvar o dente em questão.</p>
<p class ="paragrafo1">Por isso, consulte com regulariade o dentista. A clínica Mercosul está sempre a disposição!</p>

<%- contentFor("styles") %>

<style type="text/css">
	.primeiraimagem {
		background-image: url("/public/images/periodontia.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}
	.texto1 {
		font-family: Montserrat;
		color: #002A46;
		padding: 130px 50px 100px 10px;
		text-align: left ;
		font-weight: bold;
	}
	.paragrafo {
		padding: 40px;
		color: #132540;
		text-align: left;
	}
	.paragrafo1 {
		padding: 0px 40px 40px 40px;
		color: #132540;
		text-align: left;
	}
	.paragrafo10 {
		padding: 0px 40px 40px 80px;
		color: #132540;
		text-align: left;
	}
</style>
