<div class="primeiraimagem">
	<h1 class="texto1">Endodontia</h1>
</div>
<p class="paragrafo"> Endodontia é a especialidade destinada ao diagnóstico , tratamento e prevenção das doenças que atingem a parte interna dos dentes , ou seja, o nervo. É uma das áreas fundamentais para a saúde da boca, pois quando o nervo está acometido de algum problema , a dor intensa impossibilita a pessoa de se alimentar , de ter sua rotina diária de trabalho e estudo, além do sofrimento pela dor. </p>
<p class ="paragrafo1"> O tratamento endodôntico é feito para eliminar o processo de doença que acometeu o nervo e deve ser feito sempre que o diagnóstico comprovar o problema . Esse diagnóstico na maior parte das vezes é feito baseado na dor tão intensa que o dente está sentindo. </p>
<p class = "paragrafo1"></p>
<p class ="paragrafo1"></p>

<%- contentFor("styles") %>

<style type="text/css">
	.primeiraimagem {
		background-image: url("/public/images/endodontia.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}
	.texto1 {
		font-family: Montserrat;
		color: #51B6B6;
		padding: 130px 50px 100px 10px;
		text-align: left ;
	}
	.paragrafo {
		padding: 40px;
		color: #132540;
		text-align: left;
	}
	.paragrafo1 {
		padding: 0px 40px 40px 40px;
		color: #132540;
		text-align: left;
	}
	.paragrafo10 {
		padding: 0px 40px 40px 80px;
		color: #132540;
		text-align: left;
	}
</style>
