<div class = cordofundo id="pai">
	<section id="secao"></section>
	<h1 class = tituloprofissionais> 
		Profissionais
	</h1>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 o">
				<div class="selfie"><img src="/public/images/fernando.jpg" class="border" /></div>
				<h4 class="cl">
					Dr Fernando Falchi<br/>
					CRO/SP 49868<br/>
					Especialista em DTM e dor orofacial<br/>
					Especialista em ortodontia<br/>
					Especialista em Implante<br/>
					Professor de estetica dos dentes no instituto Sially em São Paulo
				</h4>
			</div>
			<div class="col-sm-4 o">
				<div class="selfie"><img src="/public/images/renata.jpg" class="border" /></div>
				<h4 class="cl">
					Dra Renata Filadelfo<br/>
					CRO/SP  94801<br/>
					Especialista em Harmonizaçao Orofacial<br/>
					Especialista em Implantes
				</h4>
			</div>
			<div class="col-sm-4 o">
				<div class="selfie"><img src="/public/images/marcelo.jpg" class="border" /></div>
				<h4 class="cl">
					Dr Marcello Cheloti<br/>
					CRO/SP 72315<br/>
					Cirurgia e traumatologia Buco maxilo facial
				</h4>
			</div>
		</div>
	</div>
</div>

<%- contentFor("styles") %>
<style type="text/css">
	.cordofundo {
		background-color: #51B6B6;
		padding: 80px;
	}
	.tituloprofissionais {
		color: #ffffff;
		text-align: center;
		padding: 20px;
		font-weight: bold;
	}
	@media (max-width: 1000px) {
		#secao {
			position: fixed;
		}
	}
	.border{
		border-radius: 15px;
		display: inline-block;
		vertical-align: bottom;
		margin: 0;
	}
	.o{
		text-align: center;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: start;
	}
	.selfie {
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: contain;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
	}
	.selfie > img {
		max-height: 100%;
	}
	.cl{
		background-color: #99D9D9;
		color: #132540;
		border-radius: 15px;
		font-size: 1rem;
		padding: 20px;
		margin: -20px -20px 20px 20px;
	}
	.cordofundo {
		padding: 80px 25px;
	}
	@media (min-width: 576px) {
		.cordofundo {
			padding: 80px 40px;
		}
		.selfie {
			min-height: 370px;
		}
	}
</style>

<%- contentFor("scripts") %>
<script type="text/javascript">
	var pai = document.getElementById("pai");
	var secao = document.getElementById("secao");
	var selfies = document.getElementsByClassName("selfie");
	var imagemMaior = selfies[0].firstElementChild;
	
	pai.onmousemove = function(e) {
		
		const rect = pai.getBoundingClientRect();
		let x = e.clientX - rect.left;
		let y = e.clientY - rect.top;
		let px = x / rect.width;
		let py = y / rect.height;
		//console.log(px + " / " + py);
		secao.style.left = (-15 * px) + "vw";
		secao.style.top = (-15 * py) + "vh";
		
	};

	function ajustarImagens() {
		var i, m, rect;
		if (window.innerWidth < 576) {
			for (i = selfies.length - 1; i >= 0; i--) {
				selfies[i].style.minHeight = "";
			}
		} else {
			rect = imagemMaior.getBoundingClientRect();
			m = (rect.bottom - rect.top + 5) + "px";
			for (i = selfies.length - 1; i >= 0; i--) {
				selfies[i].style.minHeight = m;
			}
		}
	}

	window.onresize = ajustarImagens;
	window.onload = ajustarImagens;
	ajustarImagens();
</script>
