<div class = cordofundo id="pai">
	<section id="secao"></section>
	<h1 class = tituloprofissionais> 
		Profissionais
	</h1>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 o">
				<div class="selfie"><img src="/public/images/fernando.jpg" class="border" /></div>
				<h4 class="cl">
					Dr Fernando Falchi <br>
					CRO/SP 49868<br>
					Especialista em DTM E dor orofacial<br> 
					Especialista em ortodontia <br>
					Especialista em Imolante<br>
					Professor de estetica dos dentes no <br>
					instituto Sially em São Paulo
				</h4>
			</div>
			<div class="col-md-4 o">
				<div class="selfie"><img src="/public/images/renata.jpg" class="border" /></div>
				<h4 class="cl">
					Dra Renata Filadelfo <br>
					CRO/SP  94801<br>
					Especialista em Harmonizaçao Orofacial 
					Especialista em Implantes
				</h4>
			</div>
			<div class="col-md-4 o">
				<div class="selfie"><img src="/public/images/marcelo.jpg" class="border" /></div>
				<h4 class="cl">
					Marcello Cheloti<br>
					CRO/SP 72315<br>
					Cirurgia e traumatologia Buco maxilo facial
				</h4>
			</div>
		</div>
	</div>
</div>

<%- contentFor("styles") %>
<style type="text/css">
	.cordofundo {
		background-color: #51B6B6;
		padding: 80px;
	}
	.tituloprofissionais {
		color: #ffffff;
		text-align: center;
		padding: 20px;
	}
	@media (max-width: 1000px) {
		#secao {
			position: fixed;
		}
	}
	.border{
		border-radius: 15px;
		display: inline-block;
		vertical-align: bottom;
		margin: 0;
	}
	.o{
		text-align: center;
	}
	.selfie {
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: contain;
		width: 100%;
		min-height: 360px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
	}
	.selfie > img {
		max-height: 100%;
	}
	.cl{
		background-color: #99D9D9;
		color: #132540;
		border-radius: 15px;
		padding: 20px;
		margin: -20px -20px 0 20px;
	}
</style>

<%- contentFor("scripts") %>
<script type="text/javascript">
	var pai = document.getElementById("pai");
	var secao = document.getElementById("secao");
	
	pai.onmousemove = function(e) {
		
		const rect = pai.getBoundingClientRect();
		let x = e.clientX - rect.left;
		let y = e.clientY - rect.top;
		let px = x / rect.width;
		let py = y / rect.height;
		//console.log(px + " / " + py);
		secao.style.left = (-15 * px) + "vw";
		secao.style.top = (-15 * py) + "vh";
		
	};
</script>
