<div class="primeiraimagem">
	<h1 class="texto1">Prótese Dentária</h1>
</div>
<p class="paragrafo">Restabelecer o sorriso original recolocando os dentes perdidos é a função da prótese dentária. Esta especialidade devolve a mordida correta, melhorando a mastigação, a estética e por consequência, melhora a auto estima do paciente também.</p>
<p class ="paragrafo1">Pode ser feita de inúmeras maneiras:</p>
<p class = "paragrafo1"><ol>
							<li>Refazendo um único dente através de coroas de resina, de porcelana ou facetas;</li>
							<li>Recolocando um grupo de dentes com prótese fixa, prótese removível, mais conhecida como dentadura</li>
							<li>Colocar uma dentadura que não sai da boca, ela é presa em implantes. Isto faz com que fique firme na boca. Tal prótese presa nos implantes tem um nome: chama-se protocolo.</li>
						</ol>
</p>
<p class ="paragrafo1">De qualquer maneira, a prótese dentária está à disposição dos pacientes para fazê-los voltar a ter seus dentes novamente, dentes que um dia foram perdidos por diversos motivos.</p>

<%- contentFor("styles") %>

<style type="text/css">
	.primeiraimagem {
		background-image: url("/public/images/protesedentaria.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}
	.texto1 {
		font-family: Montserrat;
		color: #002A46;
		padding: 130px 50px 100px 10px;
		text-align: left ;
		font-weight: bold;
	}
	.paragrafo {
		padding: 40px;
		color: #132540;
		text-align: left;
	}
	.paragrafo1 {
		padding: 0px 40px 10px 40px;
		color: #132540;
		text-align: left;
	}
	.paragrafo10 {
		padding: 0px 40px 40px 80px;
		color: #132540;
		text-align: left;
	}
</style>
