<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-PT">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Título da Página</title>
	
	<style type="text/css">
		.centro {
		text-align: center;
		color: #ffffff;	
		margin-top: 30px;
		margin-bottom: 30px;
		}
		.botao {
		color: #1C3C51;
		background-color: #99D9D9;
		padding: 15px 25px;
		border-radius: 10 px;
		font-weight: bold ;
		margin-top: 20px;
		}
		label {
		display:block;
		}
		body {
		background-color: #51B6B6 }
		
		
		
	</style>
</head>
<body>
			<div class = "aviso"> 
				<p>
					
				</p>
			</div>

			<div class = "centro">
				<div >
					<label for="PaciNom">Nome</label>
					<input class="form-control" type="text" id="PaciNom" name="PaciNom" maxlength="50" />
				</div>
				<div >
					<label for="PaciNum">Numero de telefone</label>
					<input type="text" id="PaciNum" name="PaciNum" maxlength="15" />
				</div>
				<div>
					<label for="PaciEma">E-mail</label>
					<input type="email" id="PaciEma" name="PaciEma" maxlength="50" />
				</div>
				<div>
					<label for="PaciCon">Convênio</label>
					<input type="text" id="PaciCon" name="PaciCon" maxlength="50" />
				</div>
				<div>		
					<button type="submit" class="botao">Criar Pessoa</button>
				</div>
			</div>



<script type="text/javascript">
	maskMobilePhone("#PaciNum");

	$("#form").validate({
		rules: {
			// Aqui o que vale é o name, não o id!
			PaciNom: {
				required: true
			},
			PaciNum: {
				required: true,
				minlength: 14
			},
			PaciEma: {
				required: true
			},
			PaciCon: {
				required: false
			}
		},

		submitHandler: function (form) {
			criarPessoa(form);
		}
	});

	async function criarPessoa(form) {
		try {
			let opcoes = {
				method: "POST",
				body: new FormData(form)
			};

			let response = await fetch("/api/pessoa/criar", opcoes);

			if (response.ok) {
				// Limpa os campos para facilitar a criação da próxima pessoa.
				resetForm(form);
				Swal.success("Pessoa criada com sucesso!");
			} else {
				Swal.error("Erro ao criar a pessoa!");
			}
		} catch (ex) {
			Swal.error("Erro de rede: " + ex.message);
		}
	}

</script>
</body>
</html>
